@themeColor: rgba(255, 255, 255, 0.589); // 主题色
@sidebarBackgroundColor: rgb(227, 232, 235); // 侧边栏背景色

@sidebarWidth: 16rem; // 侧边栏宽度
@sidebarCollapsedWidth: 3.2rem; // 侧边栏收起宽度

@transitionDuration: 0.32s; // 动画时长